<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!-- <link href="lib/semantic-ui/semantic.min.css" rel="stylesheet"> -->
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <!-- <script type="text/javascript" src="lib/semantic-ui/semantic.min.js"></script> -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/oauth-signature.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title ui large header">Business Finder</h1>
        </ion-header-bar>
        <ion-content ng-controller="MapController">
            <div id="map" data-tap-disabled="true"></div>
            <ion-list>
              <ion-item ng-repeat="business in businesses | orderBy:'distance'">
                <div class="row">
                  <div class="col-25">
                    <img ng-if="business.photos.count == 0"src="http://placehold.it/50x50" class="responsive-image">
                  </div>
                  <div class="col-60">

                    {{business.name}}
                    <p>
                      {{business.categories[0].name}}
                    </p>
                    <p>
                      {{business.distance | number:2}} miles
                    </p>
                  </div>
                  <div class="col-15">

                    <p ng-if="business.hours.isOpen" class="open">
                      Open
                    </p>
                    <p ng-if="!business.hours.isOpen">
                      Closed
                    </p>
                  </div>
                </div>
              </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
    <!-- <script src="https://maps-api-ssl.google.com/maps/api/js?libraries=places"></script> -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>
  </body>
</html>
